# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IDEs
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# iOS
ios/Flutter/ephemeral/
**/ios/Flutter/.last_build_id

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
android/key.properties
android/app/*.jks
android/*.jks

# Web
lib/generated_plugin_registrant.dart

# Obfuscation / Symbols
app.*.symbols
app.*.map.json

# macOS / Xcode
*.xcuserstate
*.xcworkspace

# Optional sensitive configs
android/app/src/main/res/values/admob.xml